<!DOCTYPE html>
<html>

<head>
    <title>Heart Diseases Predictor</title>
    <link href="style.css" rel="styleSheet" />
</head>

<body>
    <h1>Heart Diseases Predictor </h1>
    <form method="post" action="/predict">
        <label>age</label><br>
        <input type="number" name="age"><br><br>
        <label>sex</label><br>
        <input type="number" name="sex"><br><br>
        <label>cp</label><br>
        <input type="number" name="cp"><br><br>
        <label>trestbps</label><br>
        <input type="number" name="trestbps"><br><br>
        <label>chol</label><br>
        <input type="number" name="chol"><br><br>
        <label>fbs</label><br>
        <input type="number" name="fbs"><br><br>
        <label>restecg</label><br>
        <input type="number" name="restecg"><br><br>
        <label>thalach</label><br>
        <input type="number" name="thalach"><br><br>
        <label>exang</label><br>
        <input type="number" name="exang"><br><br>
        <label>oldpeak</label><br>
        <input type="number" name="oldpeak"><br><br>
        <label>slop</label><br>
        <input type="number" name="slop"><br><br>
        <label>ca</label><br>
        <input type="number" name="ca"><br><br>
        <label>thal</label><br>
        <input type="number" name="thal"><br><br>
        
        <input type="submit" value="predict"><br><br>

    </form>
   
</body>

</html>